extends ../layout
block title
  title Complete Registration
block style
  link(rel='stylesheet' href='/css/mystyles/trainee.css')
block content
  body
    section.completeRegistration
      .container
        if errors
          each error in errors
            .alert.alert-danger= error.msg
        if picerror
          each item in picerror
            .alert.alert-danger= item.msg

        form#completeRegistration(action="/traineeProfile/completeRegistration" method="POST", enctype="multipart/form-data")
          //- input(type='hidden', name='userId', value=traineeId)
          .form-group
            label Goal: 
            | 
            .form-check.form-check-inline
              input(class="form-check-input",  type='radio', name='program', id="loss-weight", value='Loss Weight', required)
              label(class="form-check-label", for="loss-weight") Loss Weight
            .form-check.form-check-inline
              input(class="form-check-input",  type='radio', name='program', id="maintain-weight", value='Maintain Weight')
              label(class="form-check-label", for="maintain-weight") Maintain Weight
            .form-check.form-check-inline
              input(class="form-check-input",  type='radio', name='program', id="gain-weight", value='Gain Weight')
              label(class="form-check-label", for="gain-weight") Gain Weight
          .form-group
            #coaches
          .form-group
            label Starting Date:
            input(class="form-control", type='date', name='startingDate', value=startingDate, required)
          .form-group
            input(class="form-control", type='number', name='weight', value=weight, placeholder='Your weight in Kg', min=40, max=200, required)
          .form-group
            input(class="form-control", type='number', name='height', value=height, placeholder='Your height in cm', min=100, max=250, required)
          .form-group
            input(class="form-control", type='number', name='age', value=age, placeholder='Your age', required)
          .form-group
            select(class="form-control", name="experience", required)
              option(value="") Your Experience
              option(value="begginer") Begginer
              option(value="intermediate") Intermediate
              option(value="expert") Expert

          //
            .form-group
              .form-check.form-check-inline
                input(class="form-check-input",  type='radio', name='price', id="free", value='free', required)
                label(class="form-check-label", for="free") Free Trial
              .form-check.form-check-inline
                input(class="form-check-input",  type='radio', name='price', id="paid", value='paid')
                label(class="form-check-label", for="paid") Paid
            .form-group
              label Your Current Shape:
                input(class="form-control", type='file' name='pic' accept='image/*', required)
          .form-group
            input(class="btn btn-primary py-3 px-5 col-sm-12" type="submit", value="Complete Registration")

block scripts
  //
    script.
      let programs = document.querySelectorAll('input[name="program"]');
      for (let i = 0; i < programs.length; i++) {
        programs[i].addEventListener("click", function() {
          xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("coaches").innerHTML = this.responseText;
            }
          };
          xmlhttp.open("GET","/traineeProfile/getCoaches?proficiency="+programs[i].value,true);
          xmlhttp.send();
        })
      }